import(readxl)
#import(plotly)
#import(ggplot2)
import(htmlwidgets)

# Making the plots
export(plot_frames, plot_sources)

export(readPollData, readTopicData)

# Metrics for finding intervals of interest.
export(surgeInfo)

# for debugging
export(expandDateFrameTone,
       computeFrameNames)

