import(readxl)
import(ggplot2)
import(plotly)
import(htmlwidgets)

# Making the plots
export(plot_frames, plot_sources)

export(readPollData, readTopicData)

# Metrics for finding intervals of interest.
export(surgeInfo)
export(findBadYears)

# for debugging
export(expandDateFrameTone,
       computeFrameNames)

# For metrics
export(aggregateArticles, getChangePoints, getChangePointStart,
       totalBlockRatio, blockRatio, isBlockSequenceInteresting)

export(topFrameDominanceEntropy, proConRatio, proConDiff, topFrameDominance)
